# Application of our Workflow onto two datasets

In [44]:
from functions import clean_file, normalize_data, train_test, trainSVM
import numpy as np

In [2]:
#
BANKNOTE = "./data_banknote_authentication.txt"
KIDNEY = "./kidney_disease.csv"

## 1. Load and clean data
* Load and clean data
* Center and normalize data

In [3]:
banknote,_ = clean_file(BANKNOTE)
kidney,_ = clean_file(KIDNEY)

Toutes les valeurs manquantes ont été remplacées
Toutes les valeurs manquantes ont été remplacées

In [4]:
# ATTENTION LA PREMIERE LIGNE N'EST PAS PRISE EN COMPTE
banknote.describe()

            3.6216       8.6661      -2.8073     -0.44699            0
count  1371.000000  1371.000000  1371.000000  1371.000000  1371.000000
mean      0.431410     1.917434     1.400694    -1.192200     0.444931
std       2.842494     5.868359     4.310105     2.101683     0.497139
min      -7.042100   -13.773100    -5.286100    -8.548200     0.000000
25%      -1.774700    -1.711300    -1.553350    -2.417000     0.000000
50%       0.495710     2.313400     0.616630    -0.586650     0.000000
75%       2.814650     6.813100     3.181600     0.394810     1.000000
max       6.824800    12.951600    17.927400     2.449500     1.000000

In [5]:
# ATTENTION IL FAUT ENLEVER LA COLONNE ID
kidney.describe()

,id,age,bp,sg,al,su,bgr,bu,sc,sod,pot,hemo
count,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000
mean,199.500000,51.483376,76.469072,1.017408,1.016949,0.450142,148.036517,57.425722,3.072454,137.528754,4.627244,12.526437
std,115.614301,16.974966,13.476298,0.005369,1.272318,1.029487,74.782634,49.285887,5.617490,9.204273,2.819783,2.716171
min,0.000000,2.000000,50.000000,1.005000,0.000000,0.000000,22.000000,1.500000,0.400000,4.500000,2.500000,3.100000
25%,99.750000,42.000000,70.000000,1.015000,0.000000,0.000000,101.000000,27.000000,0.900000,135.000000,4.000000,10.875000
50%,199.500000,54.000000,78.234536,1.017408,1.000000,0.000000,126.000000,44.000000,1.400000,137.528754,4.627244,12.526437
75%,299.250000,64.000000,80.000000,1.020000,2.000000,0.450142,150.000000,61.750000,3.072454,141.000000,4.800000,14.625000
max,399.000000,90.000000,180.000000,1.025000,5.000000,5.000000,490.000000,391.000000,76.000000,163.000000,47.000000,17.800000

In [6]:
banknote = normalize_data(banknote)[2]
kidney = normalize_data(kidney)[2]

La table est normalisée
La table est normalisée

In [7]:
banknote.describe()

             3.6216        8.6661       -2.8073      -0.44699            0
count  1.371000e+03  1.371000e+03  1.371000e+03  1.371000e+03  1371.000000
mean  -8.292257e-17  4.146128e-17 -4.146128e-17 -2.591330e-17     0.444931
std    1.000000e+00  1.000000e+00  1.000000e+00  1.000000e+00     0.497139
min   -2.629208e+00 -2.673752e+00 -1.551423e+00 -3.500052e+00     0.000000
25%   -7.761176e-01 -6.183559e-01 -6.853764e-01 -5.827711e-01     0.000000
50%    2.262096e-02  6.747470e-02 -1.819130e-01  2.881260e-01     0.000000
75%    8.384326e-01  8.342479e-01  4.131932e-01  7.551136e-01     1.000000
max    2.249218e+00  1.880281e+00  3.834409e+00  1.732754e+00     1.000000

In [8]:
kidney.describe()

,id,age,bp,sg,al,su,bgr,bu,sc,sod,pot,hemo
count,400.000000,4.000000e+02,4.000000e+02,4.000000e+02,400.000000,4.000000e+02,4.000000e+02,4.000000e+02,400.000000,400.000000,4.000000e+02,400.000000
mean,199.500000,5.062617e-16,7.460699e-16,2.273737e-15,0.000000,0.000000e+00,-1.421085e-16,1.243450e-16,0.000000,0.000000,-5.329071e-17,0.000000
std,115.614301,1.000000e+00,1.000000e+00,1.000000e+00,1.000000,1.000000e+00,1.000000e+00,1.000000e+00,1.000000,1.000000,1.000000e+00,1.000000
min,0.000000,-2.915079e+00,-1.964120e+00,-2.310870e+00,-0.799289,-4.372493e-01,-1.685371e+00,-1.134721e+00,-0.475738,-14.452934,-7.543999e-01,-3.470487
25%,99.750000,-5.586683e-01,-4.800333e-01,-4.484564e-01,-0.799289,-4.372493e-01,-6.289765e-01,-6.173313e-01,-0.386730,-0.274737,-2.224440e-01,-0.608002
50%,199.500000,1.482550e-01,1.310051e-01,0.000000e+00,-0.013321,-4.372493e-01,-2.946743e-01,-2.724050e-01,-0.297723,0.000000,0.000000e+00,0.000000
75%,299.250000,7.373578e-01,2.620102e-01,4.827501e-01,0.772646,-5.392118e-17,2.625587e-02,8.773867e-02,0.000000,0.377134,6.126586e-02,0.772618
max,399.000000,2.269025e+00,7.682446e+00,1.413957e+00,3.130547,4.419539e+00,4.572766e+00,6.768150e+00,12.982229,2.767328,1.502696e+01,1.941543

In [9]:
kidney

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,0,-0.205207,0.262010,0.482750,-0.013321,-0.437249,normal,normal,notpresent,notpresent,...,44,7800,5.2,yes,yes,no,good,no,no,ckd
1,1,-2.620528,-1.964120,0.482750,2.344580,-0.437249,normal,normal,notpresent,notpresent,...,38,6000,5.2,no,no,no,good,no,no,ckd
2,2,0.619537,0.262010,-1.379663,0.772646,2.476824,normal,normal,notpresent,notpresent,...,31,7500,5.2,no,yes,no,poor,no,yes,ckd
3,3,-0.205207,-0.480033,-2.310870,2.344580,-0.437249,normal,abnormal,present,notpresent,...,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
4,4,-0.028476,0.262010,-1.379663,0.772646,-0.437249,normal,normal,notpresent,notpresent,...,35,7300,4.6,no,no,no,good,no,no,ckd
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,395,0.207165,0.262010,0.482750,-0.799289,-0.437249,normal,normal,notpresent,notpresent,...,47,6700,4.9,no,no,no,good,no,no,notckd
396,396,-0.558668,-0.480033,1.413957,-0.799289,-0.437249,normal,normal,notpresent,notpresent,...,54,7800,6.2,no,no,no,good,no,no,notckd
397,397,-2.325977,0.262010,0.482750,-0.799289,-0.437249,normal,normal,notpresent,notpresent,...,49,6600,5.4,no,no,no,good,no,no,notckd
398,398,-2.031425,-1.222077,1.413957,-0.799289,-0.437249,normal,normal,notpresent,notpresent,...,51,7200,5.9,no,no,no,good,no,no,notckd
399,399,0.383896,0.262010,1.413957,-0.799289,-0.437249,normal,normal,notpresent,notpresent,...,53,6800,6.1,no,no,no,good,no,no,notckd

In [10]:
# ATTENTION VALEURS CATEGORIQUES NON PRESENTES

## 2. Split data into train and test

In [46]:
X = kidney.drop(['id','classification'],axis=1)
y = kidney.loc[:,"classification"]
y = y.map(lambda x : 1*(x=="notckd"))
X = X.select_dtypes(include=np.number)

In [47]:
[X_train,X_test,y_train,y_test] = train_test(X,y,.4,False)

## 3. Train model

In [48]:
svmCLF = trainSVM(X_train,y_train)

In [50]:
prediction = svmCLF.predict(X_test)

In [53]:
sum(prediction - y_test)/len(prediction)*100

1.25